<%= link_to 'Home', '/' %><br>
<%= link_to 'See All Pets', '/pets' %>
<h1>Shelters:</h1>

<% @shelters.each do |shelter| %>
  <h3><a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a></h3>
  <p><%= shelter.city %>, <%= shelter.state %></p>
  <form action="/shelters/<%= shelter.id %>/edit">
    <input type="submit" value="Update Shelter">
  </form>
  <form action="/shelters/<%= shelter.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete"/>
  </form>
<% end %>
<form action="/shelters/new">
  <input type="submit" value="Add A New Shelter">
</form>
