<a href="/shelters">Back to Shelters</a><br>
<%= link_to 'See All Pets', '/pets' %>
<h1>Pets Available For Adoption:</h1>

<% @pets.each do |pet| %>
  <img src=" <%= pet.image %>" alt="doggo" style="width:100px;height:100px;">
  <h3><%= link_to pet.name, "/pets/#{pet.id}" %></h3><br>
  <p>Approximate Age: <%= pet.approximate_age %><br>
  <p>Sex: <%= pet.sex %></p>
  <form action="/pets/<%= pet.id %>/edit">
    <input type="submit" value="Update Pet">
  </form>
  <form action="/pets/<%= pet.id %>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Pet"/>
  </form>
<% end %>

<form action="/shelters/<%= @shelter.id %>/pets/new">
  <input type="submit" value="Create Pet">
</form>
