<%= link_to 'Home', '/' %>
<h1>Pets:</h1>

<% @pets.each do |pet| %>
  <h3><a href="/pets/<%= pet.id %>"><img src="<%= pet.image %>"></a></h3>
  <p>Name: <%= pet.name %><br>
     Approximate Age: <%= pet.approximate_age %><br>
     Sex: <%= pet.sex %><br>
     Shelter: <%= Shelter.find(pet.shelter_id).name %></p>
<% end %>



<form action="/pets/new">
  <input type="submit" value="Might not need this">
</form>
