<%= link_to 'See All Pets', '/pets' %>

<h1><%= @pet.name %></h1>

<p><img src="<%= @pet.image %>"</p>
<p><%= @pet.description %></p>
<p><%= @pet.approximate_age %></p>
<p><%= @pet.sex %></p>
<p><%= @pet.adoption_status %></p>


<form action="/pets/<%= @pet.id %>/edit">
  <input type="submit" value="Update Pet">
</form>

<form action="/pets/<%= @pet.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Pet"/>
</form>
